*{
    margin:0;
    padding:0;
    font-family: 'Oleo Script', cursive;
}
body{
    margin-left:5%;
    margin-right:5%;
    background-color:rgba(30,30,3,1);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    color:white;
    cursor:URL('images/light.png');
    letter-spacing:0.2vh;
}
#titl{
    padding:2vh;
    margin-bottom:5vh;
    background-color:rgba(20, 20, 20, 0.9);
    border:1vh solid rgba(80,0,0);
    border-radius:2vh;
    box-shadow: 0 0 1vh 0.5vh rgba(255, 255, 255, 0.8);
    text-shadow:0.5vh 0.5vh 1vh black;
}
#titl>a{
    margin-left:10%;
    font-size:xx-large;
    color:white;
    text-decoration: none;
}
a:hover{
    text-shadow:0.5vh 0.5vh 1vh gold;
}
#but{
    float: right;
    margin-right:10%;
    width:20vh;
    height:5vh;
    font-size:large;
    color:darkblue0;
    border:0.2vh black solid;
    border-radius:1vh;
}
#but:hover{
    box-shadow: 0 0 1vh 0.5vh gold;
}
#ser{
    margin-left:5vh;
    padding:0.5vh;
    width:90%;
    height:5vh;
    font-size:large;
    margin-bottom:2%;
}
.mov{
    display:inline-block;
    margin-bottom:5vh;
    margin-top:2vh;
    margin-right:6%;
    margin-left:auto;
    width:40vh;
    height:60vh;
    background-color:gray;
    border:0.2vh solid black;
    box-shadow:0 0 1vh 0.5vh rgba(255, 255, 255, 0.8);
}
.mov:hover{
    box-shadow:0 0 1vh 0.9vh gold;
    margin-bottom:1vh;
    margin-right:4.35%;
    margin-top:0;
    width:45vh;
    height:65vh;
    margin-left:-1.5%;
}
.lightmode{
    background-color:white;
    color:black;
}
.lig{
    background-color:burlywood;
    color:black;
}
#foot{
    width:90%;
    height:12vh;
    background-color:rgba(20, 20, 20, 0.4);
    border: 1vh solid rgba(80,0,0, 0.4);
    border-radius:2vh;
    margin-top:5vh;
    font-size:large;
    padding-top:1vh;
    padding-bottom:1vh;
    color:white;
    box-shadow: 0 0 1vh 0.5vh rgba(255, 255, 255, 0.5);
    text-shadow:0.5vh 0.5vh 1vh black;
    position:fixed;
    bottom:0;
}
#foot>a{
    margin-left:5vh;
    margin-right:110vh;

}
.logo{
    width:4vh;
    height:4vh;
    margin-left:2vh;
    background-color: rgba(0, 0, 0, 0.2);
    
}
.logo:hover{
    box-shadow: 0 0 1vh 0.5vh gold;
}
.searcher{
display:inline-flex;
width:20%;
}
.sear{
    margin-bottom:10%;
}
.serimg>img{
   width:10vh;
   height:15vh;
}
.con{
float:left;
}
.results{
    margin-bottom:30%;
}
#son{
    width:4%;
    height:2%;
    margin-left:10%;
    margin-bottom: -2%;
}
.hides{
    display: none;
}
.movpos{
    border:0.5vh solid black;
    display:inline-flex;
    width:100%;
}
#trail{
    width:80%;
    height:auto;
}
.movinf{
    background-color:black;
    color:white;
    border:0.5vh solid black;
    padding:2%;
    display:inline-block;
    width:96%;
    font-size:large;
}
.movinf:hover{
    box-shadow: 0 0 1vh 0.5vh gold;
}
.movpos:hover{
    box-shadow: 0 0 1vh 0.5vh gold;
}
.serimg:hover{
    box-shadow: 0 0 1vh 0.5vh gold;
}
.serinf>p:hover{
    text-shadow:0.5vh 0.5vh 1vh gold;
}
.serinf>h3:hover{
    text-shadow:0.5vh 0.5vh 1vh gold;
}
.movinf>p>b{
    font-size:x-large;
}
.movtit{
    font-size:x-large;
    margin-bottom:2%;
}
#movclip{
    width:3%;
    height:5%;
    margin-left:1%;
    margin-bottom:-1%;
}
#son:hover{
    margin-left:20%;
}
#srchbtn{
    background-color:white;
    width:10%;
    height:6.5vh;
    padding-bottom:1%;
    padding-top:0.5%;
}
#srchbtn>img{
    width:3vh;
}
#srchbtn:hover{
    box-shadow: 0 0 1vh 0.5vh gold;
}